---
import X from "./social-icons/X.astro";
import GitHub from "./social-icons/GitHub.astro";
import Mastodon from "./social-icons/Mastodon.astro";
---

<footer class="border-t border-t-zinc-800 py-12 text-sm">
  <div class="mb-6 flex space-x-3">
    <a
      aria-label="X"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://x.com/arcrticc"
    >
      <X />
    </a>
    <a
      aria-label="GitHub"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://github.com/Arcticsss"
    >
      <GitHub />
    </a>
    <a
      aria-label="Roblox"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://www.roblox.com/users/523719419/profile"
    >
      <Mastodon />
    </a>
  </div>

  <p class="mb-1 text-zinc-400">
    copyright {new Date().getFullYear()} arctic, licensed under the Apache License
    2.0
  </p>
</footer>
