---
import Layout from "../layouts/Layout.astro";
import { siGithub } from "simple-icons";

import { projects, technologies } from "../projects";
---

<Layout
  title="Arctic | Panel"
  description="External Admin Panel"
  social={{
    title: "💻 Admin Panel",
    type: "website",
    url: "https://arcticcsss.xyz/panel",
  }}
>
<h1>Hello babe :)</h1>
</Layout>
